@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap");
@import "variables";
@import "button";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  background-color: $light-gray;
  display: grid;
  place-items: center;
  padding: 0 5rem;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
  grid-template-rows: 5fr;
  max-width: 960px;
  .card {
    min-height: 400px;
    &__title {
      font-family: $bg-shoulders-display;
      font-weight: 700;
      font-size: 2.5rem;
      text-transform: uppercase;
      color: $light-gray;
      margin: 1.7rem 0;
    }
    &__image {
      margin-bottom: 0.75rem;
    }
    &__text {
      font-family: $lexend;
      font-weight: 400;
      color: $white;
      font-size: 0.95rem;
      line-height: 1.7em;
      margin: 1.5rem 0 4rem 0;
      padding-right: 3.9rem;
    }
  }
  @each $index, $primary-color in $cards {
    .card-#{$index} {
      background-color: $primary-color;
      padding: 2.85rem 0 2.85rem 2.85rem;
      border-radius: map-get($border-radii, $index);
      button {
        @include cardButton($primary-color);
      }
    }
  }
}

@media (max-width: 1025px) {
  html,
  body {
    padding: 0;
    margin: 2.5rem 0.5rem;
  }
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .card {
      min-height: 500px;
      max-width: 380px;
    }
    .card-1 {
      border-radius: 0.5rem 0.5rem 0 0;
    }
    .card-3 {
      border-radius: 0 0 0.5rem 0.5rem;
    }
  }
}
